.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

th {
    border-top: none;
    background: #445c4c;
    color: #d6e2e0;
    border: 1px solid #508068;
    width : 500px;
}

tr {
    background-color: #f0edef;
}


td {
    border: 1px solid #508068;
    padding: 1%;
}

table-layout:fixed;

.add{
    background-color: #445c4c;
    color: #d6e2e0;
    border-radius: 15px;
    font-size: 1.3rem;
    border:none;
}

.modify{
    background-color: #445c4c;
    color: #d6e2e0;
    border-radius: 15px;
    font-size: 1.3rem;
    border:none;
}

.do-th-1 {
	width : 50px;
	
}

.do-th-2 {
	width : 150px;
}

.do-th-3 {
	width : auto;
}


.do-th-btn {
	width : 80px;
}