@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  background: #ffffff;
  width: 1440px;
  height: auto;
  position: relative;
}

.animal {
  background: #8AB6A9;
  width: 1000px;
  height: 400px;
  position: absolute;
  top : 80%;
  left : 0%;
}

h3 {
  position: absolute;
  top : 72%;
}
  
/* -------------- 레벨별 사진 -------------- */

.level_img1 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  position: absolute;
  left: 5%;
  top: 10%;
}

.arrow1 {
  position: absolute;
  width : 50px;
  left: 30%;
  top: 32%;
}

  .lv1 {
  position: absolute;
  left: 15%;
  top: 80%;
    font-size : 25px;
  }
  
.level_img2 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  position: absolute;
  left: 37.5%;
  top: 10%;
}

.arrow2 {
  position: absolute;
  width : 50px;
  left: 63%;
  top: 30%;
}

  
.lv2 {
  position: absolute;
  left: 45%;
  top: 80%;
  font-size : 25px;
  }

.level_img3 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  position: absolute;
  left: 70%;
  top: 10%;
}

  .lv3 {
  position: absolute;
  left: 80%;
  top: 80%;
    font-size : 25px;
  }

/* -------------- 동물정보 -------------- */
.animal_explain {
  background: none;
  width: 821px;
  height: 848px;
  position: absolute;
  left: 20%;
  top: 131px;
}

.animal_title {
  background: #ffffff;
  width: 766px;
  height: 141px;
  position: absolute;
  top: 50px;
}

.animal_content {
  color: #000000;
  text-align: left;
  position: absolute;
  width: 1000px;
  height: auto;
  top: 200px;
  font-size: 1rem;
  line-height: 2.5rem;
}

/* -------------- 버튼 -------------- */
.dogamBtn {
  background: #445C4C;
  border-radius: 999px;
  width: 150px;
  height: 60px;
  text-align: center;
  color : white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  position: absolute;
  top : 65%;
  left: 100%;
  font-size: 1.1rem;
}

.dogamBtn:hover {
  background-color: #508068;
}

.dogamBtn:focus {
  cursor: pointer;
}

.getBtn {
  background: #445C4C;
  border-radius: 999px;
  width: 150px;
  height: 60px;
  text-align: center;
  color : white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  position: absolute;
  top : 65%;
  left: 75%;
  font-size: 1.1rem;
}

.getBtn:hover {
  background-color: #508068;
}

.getBtn:focus {
  cursor: pointer;
}