<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChallengeDAO">
	<!-- inserting Challenge -->
	<insert id="challengeWrite" parameterType="challenge">
		INSERT INTO challenge
		(chal_name, chal_ex,difficulty,chal_img,chal_start_date,chal_end_date)
		VALUES (#{chal_name},#{chal_ex}, #{difficulty}, #{chal_img},#{chal_start_date}, #{chal_end_date})
	</insert>

	<!-- select one Challenge -->
	<select id="getChallengeDetail" parameterType="challenge" resultType="challenge">
		SELECT * FROM challenge WHERE chal_no = #{chal_no}
	</select>

	<!-- select Challenge List -->
	<select id="getChallengeList" parameterType="challenge" resultType="challenge">
<!-- 		SELECT * FROM challenge
		WHERE DATE_FORMAT(chal_start_date,'%Y-%m') = DATE_FORMAT(#{chal_start_date},'%Y-%m')
		ORDER BY chal_no  -->
		SELECT * FROM challenge ORDER BY chal_no
	</select>

	<!-- update challenge -->
 	<update id="updateChallenge" parameterType="challenge">
		UPDATE challenge SET 
		chal_name=#{chal_name},
		chal_start_date=#{chal_start_date},
		chal_end_date=#{chal_end_date},
		chal_ex=#{chal_ex},
		difficulty=#{difficulty},
		chal_img=#{chal_img}
		WHERE chal_no=#{chal_no};
	</update>
</mapper>