<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<!-- 아이디 중복체크 -->
	<select id="idCheck" parameterType="member" resultType="member">
		select * from member where id = #{id}
		<if test="password !=null">
			and password = #{password}
		</if>
	</select>
	
	<!-- 회원가입 -->
	<insert id="memberInsert" parameterType="member">
	    insert into member (id, password, name, tel, email)
	    values (#{id}, #{password}, #{name}, #{tel}, #{email})
    </insert>
    
	<!-- 회원정보 수정 -->
	<select id="memberInfo" parameterType="member" resultType="member">
		select id, password, name, tel, email from member where id = #{id}
	</select>
	
	<update id="memberUpdate" parameterType="member"> <!-- insert,delete,update는 리턴타입 필요없음 -->
		update member set password = #{password},
		tel = #{tel}, email = #{email} where id = #{id}
	</update>

	<!-- 로그인 -->
	<select id="login" parameterType="member" resultType="member">
	select id, password FROM member where id=#{id} and password=#{password} where mem_type_no=1
	</select>
	
	<select id="adminLogin" parameterType="member" resultType="member">
	select id, password FROM member where id=#{id} and password=#{password} and mem_type_no=2
	</select>
    
</mapper>