<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NewsDAO">

	<!-- news list user -->
	<select id="getNewsList" resultType="news">
		SELECT * FROM news ORDER BY news_no
	</select>
	
	<!-- news detail -->
	<select id="getNews" parameterType="news" resultType="news">
		SELECT * FROM news WHERE news_no=#{news_no}
	</select>
	
	<!-- news insert -->
	<insert id="newsInsert" parameterType="news">
		INSERT INTO news 
		(id_manager, cat_no, n_title, n_content,n_content2,n_content3,n_img1_nn)
		VALUES ('admin', #{cat_no}, #{n_title}, #{n_content},#{n_content2}, #{n_content3},#{n_img1_nn})
	</insert>
	
	<!-- news update -->
	<update id="newsUpdate" parameterType="news">
		UPDATE news SET 
		cat_no=#{cat_no}, n_title=#{n_title},
		n_content=#{n_content},n_img1_nn=#{n_img1_nn}
		WHERE news_no = #{news_no}
	</update>
	
	<!-- news delete -->
	<delete id="newsDelete" parameterType="news">
		DELETE FROM news WHERE news_no = #{news_no}
	</delete>
</mapper>