@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.main{
  width: 100%;
  display: grid;
}
.mem_info{
  width: 100%;
}
.btn_content{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.kind{
  margin-top: 2%;
}
select{
  width: 100%;
  font-size: 1rem;
}
.pay_method{
  margin-top: 2%;
}
.accounts{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2%;
}
.a{
  background-color: #445C4C;
  color: #ffffff;
  padding: 2%;
}
.txt{
  font-size: 1rem;
}
.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2%;
}
.c{
  background-color: #53BAB8;
  color: #ffffff;
  padding: 2%;
}
.btn{
  width: 100%;
  text-align: right;
  margin-top: 3%;
}
.payBtn {
  background: #445C4C;
  border-radius: 15px;
  width: 213px;
  height: 49px;
  color: #ffffff;
  font-size: 1.3rem;
  margin-bottom: 2%;
  margin-right: 2%;
  border: none;
}

.payBtn:hover {
  background: #53BAB8;
}