@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.main {
  background: #ffffff;
  width: 100%;
  height: auto;
  display: grid;
  justify-items: center;
}
.title{
  font-size: 2rem;
  font-weight: bold;
}
.gibu_list{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 2%;
}
.gibu{
  margin: auto;
  width: 95%;  
  background-color: lightgray;
  display: grid;
  justify-items: center;
}
.gibu_img {
  background: linear-gradient(to left, #ffffff, #ffffff);
  border: none;
  border-color: #c8c4c4;
  border-width: 1px;
  width: 311px;
  height: 330px;
  margin-top: 3%;
}
.dona_text{

}
.dona{
  color: #445C4C;
  font-size: 1.7rem;
  font-weight: bold;
}
.bar{
  position: relative;
}
.totalBar1{
  background: #ffffff;
  width: 241.75px;
  height: 15px;
}
.nowBar1{
  background: #8ab6a9;
  width: 183px;
  height: 15px;
  position: absolute;
  top:0;
}
.percent{
  color: #2E867D;
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
}
.points{
  display: flex;
  justify-content: space-between;
}
.point{
  color: #000000;
  text-align: left;
  font-size: 1.4rem;
}
.totalBar2{
  background: #ffffff;
  width: 245px;
  height: 15px;
}
.nowBar2{
  background: #8ab6a9;
  width: 80px;
  height: 15px;
  position: absolute;
  top:0;
}
.dona3{
  color: #445C4C;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  width: 120px;
  height: 36px;
}
.totalBar3 {
  background: #ffffff;
  width: 245px;
  height: 15px;
}
.nowBar3 {
  background: #8ab6a9;
  width: 145px;
  height: 15px;
  position: absolute;
  top:0;
}
.dona4{
  color: #445C4C;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  width: 263px;
  height: 31px;
}
.totalBar4{
  background: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 245px;
  height: 15px;
}
.nowBar4{
  background: #8ab6a9;
  border-width: 1px;
  width: 30px;
  height: 17.4px;
  position: absolute;
  top:0;
}
.dona_now {
  display: grid;
  background: #445c4c;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.btn_txt{
  margin-left: 5%;
  margin-top: 6%;
}
.now{
  background: #8ab6a9;
  font-size: 1.3rem;
  border-radius: 100px;
  width: 165px;
  height: 56px;
  font-family: 'S-CoreDream-3Light';
  color: #ffffff;
}
.now:hover{
  background-color: #D6E2E0;
}
.dona_now_txt{

}
.nowTxt{
  font-size: 2rem;
  color: #ffffff;
}
.txt {
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
}
