@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'S-CoreDream-3Light';
}

/* --------- 회원정보 --------- */
.mem_info {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 2%;
}

.member {
  background: rgba(80, 128, 104, 0.2);
  width: 100%;
  height: 863px;
  display: grid;
  justify-items: center;
  grid-template-rows: 6fr 1fr 1fr 1fr 1fr;
}

.member_img {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 75%;
  height: auto;
  margin: 5% 0;
}

.name_bel {
  display: flex;
}

.member_name {
  color: #000000;
  text-align: center;
  font-size: 2rem;
}

.icon {
  position: relative;
}

.icon_bell {
  overflow: visible;
}

.icon_bedge {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 1%;
  right: 0;
}

.icon_circle {
  background: #e01515;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
}

.member_count {
  color: #000000;
  font-size: 1rem;
}

.member_point {
  color: #000000;
  font-size: 1.2rem;
}

.member_edit {
  font-size: 1rem;
  color: white;
  background-color: #445C4C;
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 15px;
}

.member_edit:hover {
  background-color: #508068;
}

.member_edit:focus {
  cursor: pointer;
}

/* --------- 섹션1 --------- */
.infos {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1%;
  width: 100%;
}

.section1 {
  border-style: solid;
  border-color: #445C4C;
  width: 100%;
  height: auto;
}

.memberInfo {
  display: grid;
  margin-left: 2%;
}

.info {
  font-weight: 700;
}

.buttons {
  display: flex;
  justify-content: end;
  margin: 2%;
}

.cardBtn {
  background: #445C4C;
  border-radius: 999px;
  width: 120px;
  height: 40px;
  color: white;
  text-align: center;
  border: none;
  margin-right: 3%;
}

.cardBtn:hover {
  background-color: #508068;
}

.cardBtn:focus {
  cursor: pointer;
}

.accountBtn {
  background: #445C4C;
  border-radius: 999px;
  width: 120px;
  height: 40px;
  color: white;
  text-align: center;
  border: none;
}

.accountBtn:hover {
  background-color: #508068;
}

.accountBtn:focus {
  cursor: pointer;
}

/* --------- 섹션2 --------- */
.section2 {
  background: #445C4C;
  width: 100%;
  height: auto;
  border-color: #445C4C;
  border-style: solid;
  display: grid;
  grid-template-columns: 2fr 7fr;
  align-items: center;
  justify-items: center;
  margin-bottom: 0;
}
.ani_info{
  display: grid;
  grid-template-rows: 3fr 1fr;
  justify-items: center;
  align-items: center;
  width: 95%;
}
.animal_img {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 80%;
  height: 300px;
}
.animal_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  color: white;
  font-size: 1rem;
}
.changeBtn {
  background: white;
  border: none;
  width: 60px;
  height: 30px;
  border-radius: 15px;
}

.changeBtn:hover {
  background-color: #8AB6A9;
}

.changeBtn:focus {
  cursor: pointer;
}

.ani_lv{
  height: 80%;
  display: grid;
  grid-template-rows: 2fr 1fr;
}
.animal_level {
  display: flex;
  justify-content: space-evenly;
}

.level_img {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 100%;
  height: auto;
}
.animal_exp {
  width: 431px;
  height: 6rem;
  display: grid;
  align-items: center;
}
.lv{
  display: flex;
  align-items: center;
}
.exp_level {
  color: white;
  text-align: left;
  font-size: 2rem;
  margin: 0;
}
.exp_point {
  color: white;
  text-align: left;
  margin-left: 2%;
}
.exp_info{
  position: relative;
  height: 12px;
  margin: 0;
}
.exp_bar {
  background: #d9d9d9;
  width: 100%;
  height: 12px;
}

.exp_gage {
  position: absolute;
  top:0;
  background: #ff6f6f;
  width: 164px;
  height: 12px;
}
.lv_info{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 0;
}
.exp_now {
  color: white;
  text-align: left;
  margin: 0;
}

.exp_end {
  color: white;
  text-align: left;
  margin: 0;
}
.dogamBtn {
  background: #8AB6A9;
  border-radius: 30px;
  width: 30%;
  height: 3rem;
  color: white;
  text-align: center;
  border: none;
  margin-left: 70%;
}

.dogamBtn:hover {
  background-color: white;
  color: black;
}

.dogamBtn:focus {
  cursor: pointer;
}

/* --------- 섹션3 --------- */
.section3 {
  background: lightgrey;
  border-color: lightgray;
  border-style: solid;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 5fr auto 5fr;
  justify-items: center;
}

.dojun {
  line-height: 2.5rem;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  width: 80%;
}

.dojunBtn {
  background: #445C4C;
  border-radius: 999px;
  width: 120px;
  height: 40px;
  color: white;
  text-align: center;
  border: none;
}

.dojunBtn:hover {
  background-color: #8AB6A9;
}

.dojunBtn:focus {
  cursor: pointer;
}

.dojunList li a {
  text-decoration: none;
  color: #000000;
}

.down1 {
  border: none;
  background: none;
}

.down1:hover {
  transform: scale(1.2);
}

.line {
  border-left: dotted darkgray;
  height: 90%;
}

.gibu {
  line-height: 2.5rem;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  width: 80%;
}

.gibuBtn {
  background: #445C4C;
  border-radius: 999px;
  width: 120px;
  height: 40px;
  color: white;
  text-align: center;
  border: none;
}

.gibuBtn:hover {
  background-color: #8AB6A9;
}

.gibuBtn:focus {
  cursor: pointer;
}

.gibuList li a {
  text-decoration: none;
  color: #000000;
}

.down2 {
  border: none;
  background: none;
}

.down2:hover {
  transform: scale(1.2);
}