@font-face {
	font-family: 'S-CoreDream-3Light';
	src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.content {
	width: 100%;
	display: grid;
	grid-template-columns: 5fr 2fr;
}

.contents {
	margin-left: 2%;
}

.community-wrap {
	background: #ffffff;
	width: 95%;
	height: auto;
}

.community {
	width: 100%;
	height: auto;
	display: grid;
	background-color: #8AB6A9;
	grid-template-columns: 2fr 8fr;
	padding: 1%;
	margin: 1%;
	justify-items: stretch;
	justify-content: space-evenly;
	align-items: center;
}

.content_left {
	margin-top: 10%;
}

.profile {
	border-radius: 50%;
	border: 1px solid black;
	width: 10rem;
	height: 10rem;
	margin: 0 auto;
	object-fit: cover;
}

.memButtons {
	width: 100%;
	height: auto;
}

.memBtns {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.btn {
	text-decoration: none;
	color: white;
}

.myBtn {
	text-decoration: none;
	color: white;
}

.edit {
	width: 40%;
	border-radius: 15px;
	background-color: #445c4c;
	text-decoration: none;
	border: none;
	color: white;
	font-size: 1rem;
	padding: 2%;
}

.content_top {
	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;
}

.id {
	font-family: 'S-CoreDream-3Light';
	font-weight: bold;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 15%;
	/* font-size: 1.5rem; */
}
.rid {
	font-family: 'S-CoreDream-3Light';
	font-weight: bold;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 12%;
	/* font-size: 1.5rem; */
}

.emojis {
	display: flex;
	flex-direction: row;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 15%;
	justify-content: space-evenly;
}

.b_img {
	display: inline;
}

.reply_img {
	width: 100%;
	height: auto;
	border-radius: 50%;
	border: 1px solid black;
}

.reply_id {
	font-weight: bold;
}

.com_content {
	width: 100%;
	height: 55%;
	border-radius: 3px;
	font-size: 1rem;
	border: 1px solid black;
}

.rcom_content {
	width: 100%;
	height: 55%;
	border-radius: 3px;
	font-size: 1rem;
}

.replyBtn {
	width: 80%;
	height: 60%;
	margin-left: 10%;
	font-size: 0.8rem;
}

.replyWrite {
	display: grid;
	grid-template-columns: 0.6fr 1.2fr 10fr 1.5fr;
	align-items: center;
	justify-items: center;
	margin-top: 1%;
	margin-bottom: 1%;
}

.p_img {
	border-radius: 50%;
	width: 10rem;
	height: 10rem;
}

.r_img {
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
}

.board_img {
	width: 25%;
	height: auto;
	border: 1px solid black;
}

.writing {
	display: block;
	border: 1px solid black;
	border-radius: 5px;
	padding: 1% 1% 1% 1%;
	font-family: 'S-CoreDream-3Light';
}

.comment {
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	background-color: #009688;
	text-decoration: none;
}
.heart {
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	background-color: #009688;
	text-decoration: none;
}

.comments {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}


.reply {
    display: grid;
    grid-template-columns: 0.5fr 1fr 5fr 1fr;
    text-align: center;
    font-size: 0.8rem;
    width: 75%;
    margin-left: 25%;
    margin-top: 0.5%;
    border : 1px solid black;
    align-items: center;
    border-radius: 5px;
    font-family: 'S-CoreDream-3Light';
}

.tabs {
	width: 23%;
	position: fixed;
	right: 0%;
	margin-right: 8%;
}

.buttons {
	width: 100%;
	display: grid;
	height: 3rem;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 3%;
}

button {
	background-color: #445c4c;
	color: #ffffff;
	border-radius: 15px;
	padding: 2%;
	font-size: 1rem;
	border: none;
}

.searchText {
	border-radius: 3px;
	font-size: 1rem;
	border: 1px solid black;
	margin-left: 3%;
}

.search {
	display: flex;
	margin-top: 5%;
}

.searchOption {
	border-radius: 3px;
	font-size: 1rem;
	border: 1px solid black;
}

.searching {
	width: 20%;
	text-align: center;
	margin-left: 3%;
}

input {
	width: 95%;
}

.ranks {
	margin-top: 5%;
	margin-left: 3%;
	text-align: left;
}


.r_p_img {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.r_profile {
    border-radius: 50%;
    border: 1px solid black;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    object-fit: cover;
}	

.reWriting {
	text-align: left;
}