@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.main {
  background: #ffffff;
  width: 100%;
  height: auto;
  display: grid;
  justify-items: center;
}
.title{
  font-size: 2rem;
  font-weight: bold;
}
.gibu_list{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:3rem;
}
.gibu{
  margin: auto;
  width: 95%;  
  display: grid;
  justify-items: center;
}
.gibu_img {
  background: linear-gradient(to left, #ffffff, #ffffff);
  border: none;
  border-color: #c8c4c4;
  border-width: 1px;
  width: 311px;
  height: 330px;
  margin-top: 3%;
}
.dona_text{

}
.dona{
  color: #445C4C;
  font-size: 1.7rem;
  font-weight: bold;
}
.bar{
  position: relative;
}
.totalBar1{
  background: #ffffff;
  width: 241.75px;
  height: 15px;
}
.nowBar1{
  background: #8ab6a9;
  width: 183px;
  height: 15px;
  position: absolute;
  top:0;
}
.percent{
  color: #2E867D;
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
}
.points{
  display: flex;
  justify-content: space-between;
}
.point{
  color: #000000;
  text-align: left;
  font-size: 1.4rem;
}
.totalBar2{
  background: #ffffff;
  width: 245px;
  height: 15px;
}
.nowBar2{
  background: #8ab6a9;
  width: 80px;
  height: 15px;
  position: absolute;
  top:0;
}
.dona3{
  color: #445C4C;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  width: 120px;
  height: 36px;
}
.totalBar3 {
  background: #ffffff;
  width: 245px;
  height: 15px;
}
.nowBar3 {
  background: #8ab6a9;
  width: 145px;
  height: 15px;
  position: absolute;
  top:0;
}
.dona4{
  color: #445C4C;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  width: 263px;
  height: 31px;
}
.totalBar4{
  background: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 245px;
  height: 15px;
}
.nowBar4{
  background: #8ab6a9;
  border-width: 1px;
  width: 30px;
  height: 17.4px;
  position: absolute;
  top:0;
}
.dona_now {
  display: grid;
  background: #445c4c;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/* �룄媛먯뿉�꽌 �벐�뒗 css */
.d_list_img {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  margin-top: 10%;
  margin-bottom: 10%;
}

.d_img {
border-radius: 50%;
width: 100%;
height: 100%;
}
 #progress {
    appearance: none;
    width: 100%;
}
#progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:10px;
    box-shadow: inset 3px 3px 10px #ccc;
}
#progress::-webkit-progress-value {
    border-radius:10px;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
    background: linear-gradient(to right, #93F9B9, #1D976C);

}
.dona_text {
    width: 95%;
}

.pickme{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap:1rem;
  align-items : end;
}