.editContainer{
  display: grid;
  justify-items: center;
}
.editing {
  background: #ffffff;
  border-style: solid;
  border-color: #445c4c;
  border-width: 2px;
  width: 80%;
  height: auto;
  display: grid;
  justify-items: center;
}
.e_img{
  width: 100%;
  text-align: center;
}
.edit_img {
  background: linear-gradient(to left, #ffffff, #ffffff);
  width: 80%;
  height: auto;
  margin: 3% 0;
}
.text {
  color: #000000;
  text-align: left;
  width: 60%;
  height: auto;
  margin-bottom: 3%;
}
.buttons{
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin: 1% 0;
}
button {
  background: #445c4c;
  border-radius: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  width: 13%;
  height: 3rem;
  margin:0 3%;
}
