@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.container {
    background: #ffffff;
    width: 60%;
    height: 1024px;
    position: relative;
    margin: auto;
}

.login {
    background: #c0cabf;
    width: 570px;
    height: 700px;
    margin: auto;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 3%;
    border-radius: 5%;
}

.logo {
    width: 350px;
    height: 150px;
    grid-column:auto/span 5;
    margin-bottom: 40px;
}

/* ------------- 로그인정보 ------------- */
.info {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 3%;
    width: 80%;
    row-gap: 3%;
    font-size: 1.2rem;
}

.insert{
    grid-column: auto / span 2;
}

/* ------------- 메뉴바 ------------- */
.menu {
    display: inline-block;
    float: right;
    vertical-align: middle;
    align-items: center;
    margin-top : 3%;
  }
  
  .menu_list {
    list-style: none;
    padding: 0;
    color: #E7EAEF;
    display: flex;
    font-size: 20px;
  }
  
  .menu_list li {
    float: right;
    padding: 0 5px;
  }
  
  .menu_list li a {
    text-decoration: none;
    color: #000000;
  }
  
  .menu_list li a:visited {
    text-decoration: none;
    color: #000000;
  }
  
  .menu_list li:last-child {
    border-right: none;
  }
  
  .menu_list li a:hover {
    color: #508068;
  }

/* ------------- 관리자 로그인으로 전환 ------------- */
  .adminBtn{
    margin-top : 20px;
    width:100%;
    text-align: center;
    color : gray;
    font-size: 1rem;
    border: none;
    background-color:transparent;
    
  }

  .adminBtn:hover {
    color: #508068;
  }

  .adminBtn:focus {
    cursor: pointer;
  }

/* ------------- 로그인 버튼 ------------- */
  .loginBtn{
    background: #445C4C;
    border-radius: 999px;
    width: 170px;
    height: 70px;
    text-align: center;
    color : white;
    font-size: 1.5rem;
    font-weight: 500;
    border: none;
    margin-top: 50px;
  }

  .loginBtn:hover {
    background-color: #508068;
  }

  .loginBtn:focus {
    cursor: pointer;
  }
  
 
  