@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.container {
    background: #ffffff;
    width: auto;
    height: auto;
    position: absolute;
}

.account {
    background: #d9d9d9;
    width: 565px;
    height: 600px;
    position: absolute;
    margin: auto;
}

.account_info {
    background: #ffffff;
    width: 530px;
    height: 370px;
    position: absolute;
    left: 17px;
    top: 115px;
}

h1 {
    text-align: center;
    margin-top: 8%;
}

.registBtn {
  background: #445c4c;
  width: 186px;
  height: 59px;
  position: absolute;
  left: 35%;
  top: 85%;
  color : white;
  border: none;
  font-size: 1rem;
}

.registBtn:hover {
    background-color: #508068;
  }

.registBtn:focus {
    cursor: pointer;
  }

/* ------------ 카드번호 ------------ */
.cashSec {
    width: 50%;
    height: 50%;
    position: absolute;
    top : 10%;
    left : 10%;
}

.cashinfo {
  text-align: center;
  position: absolute;
  top: 25%;
  width: 70px;
  height: 35px;
}

/* ------------ 주민/법인번호 ------------ */
.idnumSec {
    width: 50%;
    height: 30%;
    position: absolute;
    top : 30%;
    left : 10%;
}

.idnum {
    text-align: left;
    position: absolute;
    top : 35%;
    width: 250px;
    height: 30px;
    left : 0;
}


/* ------------ 계좌정보 ------------ */
.accountSec {
    width: 100%;
    height: 30%;
    position: absolute;
    top : 60%;
    left : 10%;
}

.bankinfo {
    text-align: left;
    position: absolute;
    top : 40%;
    width: 70px;
    height: 35px;
    left : 0;
}

.accountnum {
  text-align: left;
  position: absolute;
  top : 40%;
  width: 250px;
  height: 30px;
  left : 15%;
}