@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  background: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

/* ------------- 선택동물 ------------- */
.animal {
  background: #508068;
  width: 476px;
  height: 847px;
  position: absolute;
  top: 20%;
}

.animal_info {
  background: #ffffff;
  width: 412px;
  height: 427px;
  position: absolute;
  left: 33px;
  top: 47px;
}

.img {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  top : 8%;
  left: 14%;
}

.name {
  color: #000000;
  text-align: center;
  top : 75%;
  left: -2%;
  position: relative;
  font-size: 2rem;
  text-align: center;
}

/* -------------- 개명버튼 -------------- */
.changeBtn{
  font-size : 1rem;
  color : white;
  background-color: #445C4C;
  border: none;
  position: absolute;
  width: 60px;
  height: 30px;
  top : 84.5%;
  left : 70%;
}

.changeBtn:hover {
  background-color: #508068;
}

.changeBtn:focus {
  cursor: pointer;
}

/* -------------- 경험치 -------------- */
.animal_exp {
  background: #508068;
  width: 412px;
  height: 146px;
  position: absolute;
  left: 33px;
  top: 490px;
}

.exp_level {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 10px;
  top: 42px;
  font-size: 2rem;
}

.exp_point {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 25%;
  top: 38%;
}

.exp_bar {
  background: #d9d9d9;
  width: 391px;
  height: 12px;
  position: absolute;
  left: 10px;
  top: 90px;
}

.exp_gage {
  background: #ff6f6f;
  width: 164px;
  height: 12px;
  position: absolute;
  left: 10px;
  top: 90px;
}

.exp_now {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 5px;
  top: 110px;
}

.exp_end {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 380px;
  top: 110px;
}

/* -------------- 성장레벨 -------------- */
.animal_level {
  background: #508068;
  width: 412px;
  height: 169px;
  position: absolute;
  left: 33px;
  top: 652px;
}

.level_img1 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 5px;
  top: 43px;
}

.arrow1 {
  position: absolute;
  left: 115px;
  top: 75px;
}

.level_img2 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 155px;
  top: 42px;
}

.arrow2 {
  position: absolute;
  left: 265px;
  top: 75px;
}

.level_img3 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 305px;
  top: 42px;
}

/* -------------- 동물설명 -------------- */
.animal_explain {
  background: #ffffff;
  width: 821px;
  height: 848px;
  position: absolute;
  left: 600px;
  top: 131px;
}

.animal_title {
  background: #ffffff;
  width: 766px;
  height: 141px;
  position: absolute;
  top: 50px;
}

.animal_content {
  color: #000000;
  text-align: left;
  position: absolute;
  width: 736px;
  height: 563px;
  top: 200px;
  font-size: 1rem;
  line-height: 2.5rem;
}

/* -------------- 도감버튼 -------------- */
.dogamBtn {
  background: #445C4C;
  border-radius: 999px;
  width: 150px;
  height: 60px;
  text-align: center;
  color : white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  position: absolute;
  top : 100%;
  left: 60%;
  font-size: 1.1rem;
}

.dogamBtn:hover {
  background-color: #508068;
}

.dogamBtn:focus {
  cursor: pointer;
}
