.my-challenge{
    display: grid;
    grid-template-columns: 1fr;
    gap: 3%;
}
.now_lists{
    list-style-type: none;
    padding-left: 0;
}
.now_txt{
    font-size: 1.5rem;
}
.now_list{
    background-color: #8ab6a9;
    padding: 1%;
    margin-bottom: 1%;
    border-radius: 15px;
}
.com_lists{
    list-style-type: none;
    padding-left: 0;
}
.com_txt{
    font-size: 1.5rem;
}
.com_list{
    background-color: #8ab6a9;
    padding: 1%;
    margin-bottom: 1%;
    border-radius: 15px;
}